.header {
	display: flex;
	justify-content: space-between;
	background-color: #625e6c;
	color: #edebf3;
	height: 70px;
}

.headerText {
	padding-top: 20px;
	padding-left: 20px;
	width: 30%;
}

.links {
	padding-top: 20px;
}

.link {
	color: #edebf3;
	text-decoration: none;
	padding-right: 50px;
}

.link2 {
	color: #edebf3;
	text-decoration: none;
	padding-right: 100px;
}
